body, html{
  width: 100%;
  height: 100%;
}

h1  { 
font-family: 'Abril Fatface', cursive;
margin-top: 10;
padding-top: 3;
}

ol, dl, dt, dd {font-family:'Oswald', sans-serif; }

a {
  font-family:'Oswald', sans-serif;
   color: #000000;
   font-size: 16px;
  }  

a.hover {
color: #DCDCDC; 
text-decoration: none;
}

p { margin-top: 20;
    text-indent: 3em;
    font-family:'Oswald', sans-serif;
    font-size: 1.3em;
    text-align : justify;
}

.carousel-inner img { width: 100%; height: 100%;}

#divtext { width: 100%; height: 100px;}

@media (max-width: 575px) { 
  p{font-size: 0.9em;} 
}

@media (max-width: 575px) { 
  ol, dl, dt, dd {font-size: 10px;}
}

